@CHARSET "ISO-8859-1";

#right
{
    float:right;
    margin-right:20px;
}

body {
    background-color: lavender;
    	text-align: center;
    	width: 900px;	
    	margin: 0 auto; 
    
}

#comments {
    background-color: lavender;
    	float: right;
    	margin-right:20px;
    
}

#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

#picSeller {
	width:100%;
height:auto;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: blue;
}
 button {
left: 420px;
 }

h1 {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    text-align: Center;
    color: #990099;
}

h2 {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    text-align: Center;
    color: #990099;
}

table {
    border: none;
    	margin: 0 auto; 
    }

th, td {
	border: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

